<div class="row">
    <% @books.each do |book| %>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= book.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= book.name %></h5>
          <span class="card-text">Readed: <%= book.readed %> </span> <br/>
          <span class="card-text">Country: <%= book.country %> </span> <br/>
          <span class="card-text">Discount: <%= book.discount %> </span> <br/>
          <%= form_for(book, url: url_for(controller: 'basket', action: 'set_book',                                           params: {id: book.id}), remote: true, method: 'post') do |f| %>
            <%= button_tag(type: 'submit', class: "btn btn-primary", id: "button_add-#{book.id}") do %>
              <i class="fa fa-cart-plus"></i> Comprar
            <% end %>
            <b><%= book.price %> €</b> (<%= book.with_tax? %>)
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>

