<div class="modal fade basket" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <% if @buyed.present?%>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Base Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Price with Tax</th>
          </tr>
          </thead>
          <tbody>
          <% @buyed.each do |book|%>
            <tr>
              <th ><%= Book.find(book[0]).name %></th>
              <td><%= book[1] %></td>
              <td><%= book[2] %></td>
              <td><%= book[3] %></td>
              <td><%= book[4] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <br/>
        <h3>Total to pay</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Base Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Base Price with Tax</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @buyed_total[0] %></td>
            <td><%= @buyed_total[1] %></td>
            <td><%= @buyed_total[2] %></td>
          </tr>
          </tbody>
        </table>
        <% else %>
        <span>Carrito vacio</span>
      <% end %>
    </div>
  </div>
</div>