<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#">BOOKS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="my-2 my-lg-0">
      <%= link_to change_flat_path, method: :get, class: 'btn btn-warning' do %>
        <span class="fa fa-flag fa-2x"></span> <span id="flag"><%=@flag%></span>
      <% end %>

      <%= link_to reset_basket_path, method: :delete, data: { confirm: '¿Seguro de eliminar carro?' }, class: 'btn btn-danger' do %>
        <span class="fa fa-trash fa-2x"></span>
      <% end %>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".basket">
        <%=fa_icon 'cart-arrow-down 2x'%> <span id="basket"><%=@basket%></span>
      </button>
    </div>
  </div>
</nav>