<!DOCTYPE html>
<html>
  <head>
    <title>Books24S</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/basket'%>
    <% if notice.present? %>
    <div class="alert alert-success alert-dismissable">
      <i class="fa fa-thumbs-o-up"></i>
      <strong><%= t('common.info') %></strong>
      <%= notice.html_safe %>
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-warning"></i>
      <strong><%= t('common.danger') %></strong>
      <%= alert.html_safe %>
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    </div>
  <% end %>
    <br/><br/><br/><br/>
    <%= yield %>
  </body>
</html>
